<div>
  <h2>Investigators</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 m6"> 
      
  <ul>    
<h3>College of Liberal Arts</h3>
<strong>Department of Psychology</strong>
  <ul>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/alloy-lauren">Lauren Alloy</a></li>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/chein-jason">Jason Chein</a></li>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/chen-eunice">Eunice Chen</a></li>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/ellman-lauren">Lauren Ellman</a></li>   
 <li><a href="https://liberalarts.temple.edu/academics/faculty/giovannetti-tania">Tania Giovannetti</a></li>
 <li><a href="http://chelseahelion.squarespace.com/">Chelsea Helion</a></li>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/jarcho-johanna">Johanna Jarcho</a></li>  
 <li><a href="https://liberalarts.temple.edu/academics/faculty/marshall-peter-j">Peter Marshall</a></li>   
 <li><a href="https://liberalarts.temple.edu/academics/faculty/mccloskey-michael">Michael McCloskey</a></li>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/murty-vishnu">Deepu Murty</a></li>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/newcombe-nora">Nora Newcombe</a></li>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/olino-thomas">Thomas Olino</a></li>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/olson-ingrid">Ingrid Olson</a></li>   
 <li><a href="https://liberalarts.temple.edu/academics/faculty/smith-david">David Smith</a></li>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/steinberg-laurence">Laurence Steinberg</a></li>
  </ul>
</div>

<div class="row">
  <div class="col s12 m6">

<h3>College of Public Health</h3>
<strong>Department of Communication Sciences and Disorders</strong>
  <ul>
 <li><a href="https://cph.temple.edu/commsci/faculty/nadine-martin">Nadine Martin</a></li>
 <li><a href="https://cph.temple.edu/commsci/faculty/jamie-reilly">Jamie Reilly</a></li>
  <ul>
 <strong>Department of Physical Therapy</strong>
  <ul>
    <li><a href="https://cph.temple.edu/pt/faculty/w-geoffrey-wright">Geoffrey Wright</a></li>
   </ul>
     </ul>
      </ul>
        </ul>
          </div>  
  
 <h3>College of Medicine</h3>
 <strong>Department of Radiology</strong>
  <ul>
 <li><a href="https://medicine.temple.edu/ze-wang">Ze Wang</a></li>
  <ul>  
 <strong>Department of Psychiatry</strong>
  <ul>   
 <li><a href="https://medicine.temple.edu/mary-morrison">Mary Morrison</a></li>  
  </ul>
   </ul>
     </ul>
      </ul>
        </ul> 
          </div>
    
  <h3>Fox School of Business</h3>
  <strong>Management & Information Systems</strong>
    <ul>
 <li><a href="https://www.fox.temple.edu/mcm_people/dr-angelika-dimoka/">Angelika Dimoka</a></li>
 <li><a href="https://www.fox.temple.edu/mcm_people/crystal-reeck/">Crystal Reeck</a></li>
 <li><a href="https://www.fox.temple.edu/mcm_people/vinod-venkatraman/">Vinod Venkatraman</a></li>
   </ul>
  </ul>
</div>    
