<div>
  <h2>Graduate Students</h2>
    <p>Our highly selected PhD students are an intricate part of the learning and teaching experience here in the Deparment of Criminal Justice. Our graduate students conduct research, teach courses and work closely with various faculty members and students throughout the department You can view a complete list of <a href="https://liberalarts.temple.edu/sites/liberalarts/files/grad%20student%20pubs%20092917.pdf">Graduate Student Publications</a></p>
  <ul>
   <li><a href=""></a></li>
   <li><a href="mailto:"></a><li>

  </ul>
