<div>
  <h2>Graduate Students</h2>
    <p>Our highly selected PhD students are an intricate part of the learning and teaching experience here in the Deparment of Criminal Justice. Our graduate students conduct research, teach courses and work closely with various faculty members and students throughout the department You can view a complete list of <a href="https://liberalarts.temple.edu/sites/liberalarts/files/grad%20student%20pubs%20092917.pdf">Graduate Student Publications.</a></p>
  <ul>
   <li><a href="https://liberalarts.temple.edu/juwan-z-bennett">Juwan Z. Bennett</a></li>
   <li><a href="https://liberalarts.temple.edu/chelsey-cain">Chelsey Cain</a><li>
   <li><a href="https://liberalarts.temple.edu/kris-castner">Kris Castner</a><li>
   <li><a href="https://liberalarts.temple.edu/jung-cho">Jung Cho</a><li>
   <li><a href="https://liberalarts.temple.edu/tara-coleman">Tara Coleman</a><li>
   <li><a href="https://liberalarts.temple.edu/joseph-dagrossa">Joseph Dagrossa</a><li>
   <li><a href="https://liberalarts.temple.edu/chelsey-donohoe">Chelsey Donohoe</a><li>
   <li><a href="https://liberalarts.temple.edu/mollie-ducoste">Mollie Ducoste</a><li>
   <li><a href="https://liberalarts.temple.edu/jillian-eidson">Jillian Eidson</a><li>
   <li><a href="https://liberalarts.temple.edu/john-farrell">John Farrell</a><li>
   <li><a href="https://liberalarts.temple.edu/ryan-fisher">Ryan Fisher</a><li>
   <li><a href="https://liberalarts.temple.edu/nili-gesser">Nili-Gesser</a><li>
   <li><a href="https://liberalarts.temple.edu/leah-hamilton">Leah Hamilton</a><li>
   <li><a href="https://liberalarts.temple.edu/courtney-harding">Courtney Harding</a><li>
   <li><a href="https://liberalarts.temple.edu/robert-heinzeroth">Robert Heinzeroth</a><li>
   <li><a href="https://liberalarts.temple.edu/abigail-henson">Abigail Henson</a><li>
   <li><a href="https://liberalarts.temple.edu/bria-higgs">Bria Higgs</a><li>
   <li><a href="https://liberalarts.temple.edu/ingrid-johnson">Ingrid Johnson</a><li>
   <li><a href="https://liberalarts.temple.edu/nicole-johnson">Nicole Johnson</a><li>
   <li><a href="https://liberalarts.temple.edu/evangelica-juarez">Evangelica Juarez</a><li>
   <li><a href="https://liberalarts.temple.edu/hannah-klein">Hannah Klein</a><li>
   <li><a href="https://liberalarts.temple.edu/josh-koehnlein">Josh Koehnlein</a><li>
   <li><a href="https://liberalarts.temple.edu/megan-forney">Megan Forney</a><li>
   <li><a href="https://liberalarts.temple.edu/alyssa-mendlein">Alyssa Mendlein</a><li>
   <li><a href="https://liberalarts.temple.edu/veronica-nelson">Veronica Nelson</a><li>
   <li><a href="https://liberalarts.temple.edu/ed-parker">Ed Parker</a><li>
   <li><a href="https://liberalarts.temple.edu/amber-perenzin">Amber Perenzin</a><li>
   <li><a href="https://liberalarts.temple.edu/michele-pich">Michele Pich</a><li>
   <li><a href="https://liberalarts.temple.edu/casey-rice">Casey Rice</a><li>
   <li><a href="https://liberalarts.temple.edu/danielle-stanford">Danielle Stanford</a><li>
   <li><a href="https://liberalarts.temple.edu/dijon-e-talley">Dijonee Talley</a><li>
   <li><a href="https://liberalarts.temple.edu/katorah-williams">Katorah Williams</a><li>
   <li><a href="https://liberalarts.temple.edu/kelly-waltman-spreha">Kelly Waltman Spreha</a><li>
   <li><a href="https://liberalarts.temple.edu/shane-richard-winslow">Shane Richard Winslow</a><li>
  </ul>
