<div class="container">
   <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://liberalarts.temple.edu/academics/faculty/chein-jason"> Jason Chein</a>
       <p> Director</p>
       <p>Temple University Brain Research and Imaging Center </p>
      <p> Weiss Hall</p>
      <p><a class="" href="mailto:jason.chein@temple.edu" title="jason.chein@temple.edu">jason.chein@temple.edu</a></p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="https://liberalarts.temple.edu/academics/faculty/chein-jason">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Temple-University-Brain-Research-Imaging-Center/blob/master/media/resized%20JasonChein.jpg?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="melissa.wilson@temple.edu"> Melissa Wilson </a>
       <p> Administartor</p> 
       <p>Temple University Brain Research and Imaging Center </p>
       <p> Weiss Hall</p>
      <p><a class="" href="mailto:melissa.wilson@temple.edu" title="melissa.wilson@temple.edu">melissa.wilson@temple.edu</a></p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Temple-University-Brain-Research-Imaging-Center/blob/master/media/resized%20no_picture.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="huiling.peng@temple.edu"> Huiling Peng </a>
      <p> Supervisor of Neuroimaging</p<
      <p>Temple University Brain Research and Imaging Center </p>
      <p> Weiss Hall</p> 
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Temple-University-Brain-Research-Imaging-Center/blob/master/media/resized%20no_picture.png?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://liberalarts.temple.edu/academics/faculty/mitchell-boyask-robin"> Robin Mitchell-Boyask </a>
      <p> Plague and the Athenian Imagination: Drama, History, and the Cult of Asclepius, Cambridge University Press, 2011 </p>
      <p> Aeschylus: Eumenides, Duckworth 2009 </p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Temple-University-Brain-Research-Imaging-Center/blob/master/media/resized%20no_picture.png?raw=true" alt=""></a>
    </div>
  </div>
</div>
