<div class="container">
  <h2>Faculty Publications</h2>
   <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://liberalarts.temple.edu/academics/faculty/berman-daniel"> Daniel Berman </a>
      <p> Myth, Literature, and the Creation of the Topography of Thebes </p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="http://www.cambridge.org/us/academic/subjects/classical-studies/classical-literature/myth-literature-and-creation-topography-thebes">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Greek-and-Roman-Classics/blob/master/media/resized%20BermanCover-198x300.jpg?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://liberalarts.temple.edu/academics/faculty/gottesman-alex"> Alex Gottesman </a>
      <p> Politics and the Street in Democratic Athens, Cambridge University Press, 2014 </p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="http://www.cambridge.org/us/academic/subjects/classical-studies/ancient-history/politics-and-street-democratic-athens">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Greek-and-Roman-Classics/blob/master/media/resized%20GottesmanCover-204x300.jpg?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://liberalarts.temple.edu/academics/faculty/klaiber-hersch-karen"> Karen Hersch </a>
      <p> The Roman Wedding: Ritual and Meaning in Antiquity, Cambridge University Press, 2010 </p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="http://www.cambridge.org/us/academic/subjects/classical-studies/ancient-history/roman-wedding-ritual-and-meaning-antiquity">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Greek-and-Roman-Classics/blob/master/media/resized%20Hersch%20cover%20200x300.jpg?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="https://liberalarts.temple.edu/academics/faculty/mitchell-boyask-robin"> Robin Mitchell-Boyask </a>
      <p> Plague and the Athenian Imagination: Drama, History, and the Cult of Asclepius, Cambridge University Press, 2011 </p>
      <p> Aeschylus: Eumenides, Duckworth 2009 </p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="http://www.cambridge.org/us/academic/subjects/classical-studies/classical-literature/plague-and-athenian-imagination-drama-history-and-cult-asclepius">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Greek-and-Roman-Classics/blob/master/media/resized%20Boyask%20cover.jpg?raw=true" alt=""></a>
    </div>
  </div>
</div>
